.DS_Store
*~
*.byte
*.native
*.cmi
*.cmo
_build/
CHANGES.txt
README.txt
CHANGES.html
README.html
HOWTO
TODO
config
config-stamp
*.dvi
*.pdf
*.aux
*.log
*.rel
*.cf
.qmake.stash
Info.plist
TAGS
*.dot
*.o
*.vcd
*.merlin
src/moc_*.*
src/qrc_resources.*
src/ui_*.h
src/rfsm.app/
src/uis/
src/Makefile
doc/um/figs/*.pdf
