.DS_Store
*~
CHANGES.txt
README.txt
CHANGES.html
README.html
HOWTO
TODO
config
config-stamp
platform
*.dvi
*.pdf
*.aux
*.log
*.rel
*.cf
.qmake.stash
Info.plist
*.dot
*.o
*.vcd
src/moc_*.*
src/qrc_resources.*
src/rfsm.app/
src/Makefile
src/rfsm.app/
src/Makefile
